ul.list-group
    li.list-group-item
        a(href=`${myUrl}/setting`) Kullanıcı Adı
    li.list-group-item
        a(href=`${myUrl}/setting/userInfo`) Kişisel Bilgiler
    li.list-group-item
        a(href=`${myUrl}/setting/password`) Şifre İşlemleri
    li.list-group-item
        a(href=`${myUrl}/setting/blockUsers`) Engellenenler