extends ../layout/onlinePageLayout

block content
    section.vh-100(style='background-color: #f4f5f7;')
        .container-app
            .row.pt-5
                .col-md-3
                    include ../partials/adminMenu
                .col-md-9
                    table.table
                         thead
                             tr
                                th(scope='col') Kategori
                                th(scope='col') Kategori Adı
                         tbody
                             each val in categoryData
                                 tr
                                     td= val.title
                                     td= val.slugTitle