extends ../layout/onlinePageLayout

block content
    section
        .container-app
            .row.pt-5
                .col-md-3
                    include ../partials/adminMenu
                .col-md-9
                    form#createPerson
                        .row.mb-3
                            label.col-sm-2.col-form-label İsim
                            .col-sm-10
                                input.form-control(type='text',name="name")
                        .row.mb-3
                            label.col-sm-2.col-form-label Soyisim
                            .col-sm-10
                                input.form-control(type='text',name="surName")
                        .row.mb-3
                            label.col-sm-2.col-form-label Meslek
                            .col-sm-10
                                select.form-select(name="personType" id="personType")
                                    option(value='1') Yönetmen
                                    option(value='2') Aktör
                                    option(value='3') Personel
                        .row.mb-3
                            label.col-sm-2.col-form-label Cinsiyet
                            .col-sm-10.d-flex
                                .form-check
                                    .d-flex
                                        div
                                            input#male.form-check-input(type='radio' name='gender' value='1')
                                            label.form-check-label(for='male')  Erkek
                                        .ms-5
                                            input#female.form-check-input(type='radio' name='gender' value='2')
                                            label.form-check-label(for='female')  Kadın
                                            
                        button.btn.btn-primary(type='submit') Kaydet