
extends ../layout/onlinePageLayout
block content
    section.vh-100.mt-5
        div(class="container-app")
            .row
                div(class="col-md-3")
                    include ../partials/userInfoMenu
                div(class="col-md-9")
                    form#passwordUpdateForm
                        .row.mb-3
                            label.col-sm-2.col-form-label Güncel Şifre
                            .col-sm-10
                                input.form-control(type='password',name="currentPassword")
                        .row.mb-3
                            label.col-sm-2.col-form-label Yeni Şifre
                            .col-sm-10
                                input.form-control(type='password',name="password")
                        .row.mb-3
                            label.col-sm-2.col-form-label Yeni Şifre Tekrar
                            .col-sm-10
                                input.form-control(type='password',name="rePassword")
                        button.btn.btn-primary(type='submit') Kaydet